<html>
<head>
    <meta charset="UTF-8">
    <style>
        iframe {height: 0 !important}
    </style>
</head>
<body style="padding:0; margin:0;">

<div style="text-align:center;"><a href="https://www.istanbultouristpass.com/?utm_source=turkishtravelblog.com&utm_medium=banner&utm_content=275x275_gif&utm_campaign=save-65-percent" target="_blank"><img data-delay="150" data-animation="fade-in-from-right" src="https://www.istanbultouristpass.com/img/ads/Istanbul-Tourist-Pass-banner-v2-w275xh275.jpg" alt="Get your Istanbul Tourist Pass® now!" data-lazy-loaded="true" style="opacity: 1;"></a></div>
</body>
</html>
