/* Switchery */

.switchery {
    height: 20px;
    width: 35px;
    border: none;
    background-color: #f3f5f6;

    small {
        width: 20px;
        height: 20px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    }

    &.switch-primary {
        small {
            background: theme-color(primary);
        }
    }

    &.switch-success {
        small {
            background: theme-color(success);
        }
    }

    &.switch-warning {
        small {
            background: theme-color(warning);
        }
    }

    &.switch-info {
        small {
            background: theme-color(info);
        }
    }

    &.switch-danger {
        small {
            background: theme-color(danger);
        }
    }
}