{% extends 'admin/base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid">
                <div class="grid-header"></div>
                <div class="grid-body">


                        {{ include('admin/static_data/_form.html.twig', {'button_label': 'Update'}) }}

                        <a href="{{ path('static_data_index') }}">back to list</a>

                        {{ include('admin/static_data/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
