/* Tabs */

@mixin tab-style-variations($color) {

    .nav-tabs,
    .nav-pills {
        .nav-item {
            .nav-link {
                color: $color;

                i {
                    color: inherit;
                }

                &.active {
                    background: $color;
                    color: #fff;
                }
            }
        }
    }

    .tab-content {
        background: $color;
        color: #fff;
    }
}

@each $color,
$value in $theme-colors {
    .tab-container.tab-bg-#{$color} {
        @include tab-style-variations($value);
    }
}

.tab-container {

    .nav-tabs,
    .nav-pills {
        border-bottom: none;

        .nav-item {
            .nav-link {
                display: flex;
                align-items: center;
                justify-content: start;
                @include ms-respond(font-size, -2);
                @include font-face($TYPE-1, 500);
                letter-spacing: 1;
                padding: 7px 13px;
                border: none;
                transition-duration: 0.3s;
                transition-property: "background", "color";

                i {
                    font-size: 20px;
                    line-height: 1;
                }

                .tab-tittle {
                    display: inline-block;

                    &.prepend {
                        margin-left: 10px;
                    }

                    &.append {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .tab-content {
        padding: 30px 20px 20px 20px;
        width: 100%;
        background: #f4f6f7;
    }

    .nav-tabs {
        .nav-link {
            color: $black;

            i {
                color: theme-color(dark);
            }

            &.active {
                background: #f5f5f5;
                color: theme-color(primary);

                i {
                    color: inherit;
                }
            }
        }
    }

    .nav-pills {
        margin: 10px;

        .nav-link {
            &.active {
                box-shadow: $component-box-shadow;
                color: #fff;
            }
        }
    }

    &.vertical-tabs {
        display: flex;
        flex-direction: row;
        flex-grow: 1;

        .nav-tabs,
        .nav-pills {
            float: left;
            display: flex;
            flex-direction: column;
        }
    }
}