<form method="post" action="{{ path('admin_block_field_delete', {'id': block_field.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ block_field.id) }}">
    <button class="btn">Delete</button>
</form>
