{% extends 'admin/base.html.twig' %}
{% block content %}
<div class="content-viewport col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="grid">
                <div class="grid-body">
                    {% block grid %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

