{% extends 'admin/singlegrid.html.twig' %}
{% set title ="New Blog" %}
{% block grid %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
