<div class="row">
    <div class="col-md-12">
        <div class="grid">
            <div class="grid-header">{{ block.title }}</div>
            <div class="grid-body">
                {{ form_start(form) }}
                {{ form_rest(form) }}
                <div class="row">
                    <input type="submit" class="btn btn-primary float-right mb-3" id="submit" value="Save"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>