<form method="post" action="{{ path('navigation_item_delete', {'id': navigation_item.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ navigation_item.id) }}">
    <button class="btn">Delete</button>
</form>
