<div class="mx-auto col-md-12">
    <div class="bg_white_desk bg-transpatent-desk">
        <!---<h3 class="mb-3">Customer Reviews</h3>--->
        <img class="d-block mx-auto pb-4 lazy" data-src="{{ asset('app/images/love_badge.png') }}"
             srcset="{{ asset('app/images/love_badge.png') }} 1x, {{ asset('app/images/love_badge@2x.png') }} 2x">
        <p class="lead reviews_box">

            <select class="rating4_8">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <strong>4.8</strong> out of <strong>5</strong> stars </p>
        <p class="text-center">Istanbul Tourist Pass® has an average rating of <strong
                    class="cur_text">4.8 /5</strong> from <strong class="cur_text">475</strong> reviews
        </p>
        <a class="mt-4 d-block semibold" href="/reviews">Read all traveler reviews →</a>
    </div>
</div>