/* Email */

@mixin attachment-bg-color($color) {
    border: $border-width $border-style rgba($color, 0.4);

    .icon-wrapper {
        background: rgba($color, 0.3);
        color: $color;
    }
}

@each $color,
$value in $theme-colors {
    .attachment-#{$color} {
        @include attachment-bg-color($value);
    }
}

.email-header {
    padding: 5px 0px 15px 0px;
    margin-bottom: 20px;
    position: sticky;
    top: $header-height;
    z-index: 99;
    background: $template-body-color;
}

.email-aside-list-toggler {
    display: none;
    margin-right: 10px;

    @include media-breakpoint-down(md) {
        display: inline-block;
    }
}

.email-wrapper {
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30% auto;
}

.email-aside-list {
    background: #fff;

    .email-list-item {
        border-bottom: 1px solid $border-color;
        padding: 15px;
        transition: 0.3s;
        transition-property: background;

        &:hover {
            background: darken($template-body-color, 1%);
        }

        &:first-child {
            padding-top: 30px;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 30px;
        }

        .email-list-item-inner {
            display: grid;
            grid-template-columns: 55px auto 80px;
            grid-template-rows: 25px auto;

            .profile-img {
                grid-column-start: 1;
            }

            .date {
                grid-row-start: 1;
                grid-column-start: 3;
                text-align: right;
                color: $text-muted;
            }

            .user_name {
                @include font-face($TYPE-1, 500);
                grid-column-start: 2;
                color: $body-text-color;
                @include ellipsis;
            }

            .mail-text {
                grid-column-start: 2;
                grid-column-end: 4;
                color: $text-gray;
                line-height: 1.3;
            }
        }
    }
}

.email-preview-wrapper {
    background: #fff;
    padding: 20px;
    border-left: 1px solid $border-color;
    overflow: auto;

    .preview-header {
        padding: 15px 0px;
        border-bottom: 1px solid $border-color;
        display: grid;
        grid-template-columns: 55px auto 80px;
        grid-template-rows: 20px auto;

        .profile-img {
            grid-column-start: 1;
        }

        .user_name {
            grid-column-start: 2;
            @include font-face($TYPE-1, 500);
            @include ellipsis;

        }

        .user-email {
            grid-column-start: 2;
            grid-column-end: 3;
            @include font-face($TYPE-1, 500);
        }

        .date {
            grid-column-start: 3;
            grid-row-start: 1;
            text-align: right;
            color: $text-muted;
            @include font-face($TYPE-1, 500);
        }
    }

    .email-container {
        max-width: 90%;
        margin: 50px 0px 50px 55px;

        .email-content {
            p {
                margin-bottom: 20px;
            }
        }
    }

    .email-attachments {
        border-top: 1px solid $border-color;
        margin-top: 50px;
        padding-top: 20px;

        >p {
            @include font-face($TYPE-1, 500);
        }

        .attachment-wrapper {
            margin-top: 10px;

            .attachment {
                display: inline-grid;
                margin: 5px 5px 5px 0;
                padding: 10px 15px;
                grid-template-columns: 60px auto;
                grid-template-rows: 20px auto;
                border-radius: 4px;
                cursor: pointer;

                p {
                    grid-column-start: 2;
                    grid-row-start: 1;
                    @include font-face($TYPE-2, 500);
                }

                span {
                    grid-column-start: 2;
                    grid-row-start: 2;
                    color: $text-gray;
                }

                .icon-wrapper {
                    width: 50px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    grid-column-start: 1;
                    grid-row-start: 1 span;
                    align-self: self-start;

                    i {
                        font-size: 25px;
                    }
                }
            }

            .attachment:not([class*='attachment-']) {
                border: $border-width $border-style $border-color;

                .icon-wrapper {
                    background: theme-color(primary);
                }
            }
        }
    }

    .email-reply {
        border-top: 1px solid $border-color;
        margin-top: 50px;
        padding-top: 20px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;

        p {
            @include font-face($TYPE-1, 500);
        }

        .email-actions {
            grid-column-start: 3;
            grid-row-start: 1;
            justify-content: flex-end;

            i {
                color: $text-gray;
            }
        }

        .textarea-wrapper {
            margin-top: 15px;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            position: relative;

            .btn {
                position: absolute;
                bottom: 0px;
                right: 0px;
            }

            textarea {
                padding-bottom: 60px;
                background: #fff;
            }
        }
    }
}

.email-compose-wrapper {
    position: fixed;
    bottom: 0px;
    right: 35px;
    display: none;
    background: #fff;
    width: $email-composer-width;
    height: $email-composer-height;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.25);
    z-index: 99;
    transition: 0.3s ease-in-out;
    transition-property: bottom;

    &.open {
        display: block;
    }

    .email-compose-header {
        background: theme-color(primary);
        color: #fff;
        padding: 10px 15px;
        border-radius: 4px 4px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .header-title {
            @include font-face($TYPE-2, 500);
            @include ms-respond(font-size, -1);
        }

        .header-controls {
            display: inline-block;
            color: #fff;
            font-size: 19px;

            .compose-minimize {
                color: inherit;
                transform: rotate(0deg);
                display: block;
                transition: 0.4s ease;

                &.minimized {
                    transform: rotate(45deg);
                }
            }
        }

        .header-ovelay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }

    .email-compose-body {
        .form-group {
            .form-control {
                border: none;
                background: #fff;
            }

            textarea {
                border: none;
                color: $text-muted;
            }

            &.input-recipient {
                display: flex;
                align-items: center;
                padding: 0px 20px;
                margin-bottom: 0;
                border-bottom: 1px solid $border-color;

                label {
                    width: 40px;
                    line-height: 10px;
                    margin-bottom: 0;
                    @include font-face($TYPE-2, 500);
                    @include ms-respond(font-size, -2);
                    color: $text-muted;
                }
            }
        }
    }

    .email-compose-toolbar {
        padding: 15px;
        display: flex;
        align-items: center;

        .toolbar-menu {
            display: flex;
            padding-left: 0;
            margin-bottom: 0;

            .action-buttons {
                margin-right: 15px;

                a {
                    font-size: 18px;
                    color: $text-gray;
                }
            }
        }

        .send-button {
            margin-left: auto;
        }
    }

    &.compose-minimized {
        bottom: calc(-#{$email-composer-height} + 50px);
    }
}

@media (max-width: 1180px) {
    .email-wrapper {
        grid-template-columns: 40% auto;
    }
}

@include media-breakpoint-down(md) {
    .email-wrapper {
        grid-template-columns: auto;
        position: relative;
        overflow: hidden;

        .email-aside-list {
            position: absolute;
            top: 0px;
            left: -100%;
            z-index: 3;
            bottom: 0px;
            width: 300px;
            box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.04);
            transition-duration: 0.3s;
            transition-property: left;

            &.open {
                left: 0;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .email-wrapper {
        .email-preview-wrapper {
            .email-container {
                max-width: 100%;
                margin: 30px 0;
            }
        }
    }
}