{% extends 'admin/base.html.twig' %}
{% block title %}Istanbul Tourist Pass® | Istanbul's One & Only Digital Sightseeing Pass{% endblock %}
{% block metaDescription %}Istanbul Digital Sightseeing Pass with access to most popular attractions with airport transfer, mobile internet and many more. Buy online & Save over 70%{% endblock %}
{% block body %}
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="{{ path('admin_main') }}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Overview</li>
                    </ol>
                </nav>
            </div>
            <div class="content-viewport">
                <div class="row">
                    <div class="col-md-5 order-md-0">
                        <div class="row">
                            <div class="col-6 equel-grid">
                                <div class="grid d-flex flex-column align-items-center justify-content-center">
                                    <div class="grid-body text-center">
                                        <div class="profile-img img-rounded bg-inverse-primary no-avatar component-flat mx-auto mb-4"><i class="mdi mdi-map-marker mdi-2x"></i></div>
                                        <h2 class="font-weight-medium"><span class="animated-count">{{attractionCount}}</span></h2>
                                        <small class="text-gray d-block mt-3">Total Attraction</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 equel-grid">
                                <div class="grid d-flex flex-column align-items-center justify-content-center">
                                    <div class="grid-body text-center">
                                        <div class="profile-img img-rounded bg-inverse-danger no-avatar component-flat mx-auto mb-4"><i class="mdi mdi-comment mdi-2x"></i></div>
                                        <h2 class="font-weight-medium"><span class="animated-count">{{ reviewCount }}</span></h2>
                                        <small class="text-gray d-block mt-3">Total Review</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content viewport ends -->
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}
