<div class="container mb-3 mt-4">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/whats-included">What's Included</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{page}}</li>
                </ol>
            </nav>
            <h2 class="text-left mb-3 mt-4 page-title">{{ page }}</h2>
        </div>

    </div>
</div>

